.nav-links{
    display: flex; 
    text-align: right; 
    padding: 2% 5%;
    justify-content: space-between;
    flex-direction: row; 
    align-items: center; 
}

.nav-links-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 8px 12px;

}

.nav-links ul li{
    padding: 8px 12px;
    position: relative;
    text-align: center;
}

.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.nav-links ul li::after{
   content: "";
   width: 0%;
   height: 2px;
   background: #f44336;
   display: block;
   margin: auto; 
   transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links h1{
    color: aliceblue;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

.menu 
{
    display: none;
}


@media (max-width: 700px){
    /* .nav-links ul li{
        position: absolute;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        position: absolute;
    } */

    .menu_hamburger
    {
        font-size: 20px;
        color: aliceblue;
    }
    .Menu-nav-links
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        right: 16px;
        list-style: none;
        /* padding: 8px 12px; */
       
        border-radius: 10px;
        z-index: 1;
        /* text-align: center; */
    }
    .Menu-nav-links li{
        border: 1px solid black;
        border-radius: 10px;
        /* width: 100%; */
        text-align: center;
        padding: 0px 18px;
        background-color: #f44336;
        margin-bottom: 8px;
        text-align: center;
    }
    .menu
    {
        display: block;
    }

    .nav-links-ul{
        display: none;
    }
}
