
.subheader5{
    height: 50vh;
    width: 100%;
    background-image: url("img.jpg");
    background-position: center;
    background-size: cover;
    color: aliceblue;
}
.subheader5 h2{
    padding-top: 12%;
    font-size: 40px;
    text-align: center;
}
@media(max-width: 700px){
    .subheader5 h2{
        font-size: 24px;
        margin-top: 100px;
        padding-top: 32%;
    }
}