@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

.navbarbackgroundcolor{
    height: 50vh;
    width: 100%;
    background-image: url("img.jpg");
    background-position: center;
    background-size: cover;
    color: aliceblue;
}
.navbarbackgroundcolor h2{
    padding-top: 12%;
    font-size: 40px;
    text-align: center;
}

.singleDoctorContainer
{
    display: flex;
    flex-direction: row;
    width:955px;
    margin: auto;
}

/* .navbarbackgroundcolor
{
    background-color: black;
} */

.DoctorDeatail
{
    display: flex;
    flex-direction: row;
    width: auto;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 25px;
}
.DDetail
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
}
.DDetail h1
{
    font-size: 25px;
    padding: 10px 0px;
    font-family: 'Source Sans Pro', sans-serif;

}

.DDetail p
{
    margin: 0px;
    font-size: 15px;
    padding: 2px 0px;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
}

.doctoerBooked
{
    /* border: 1px solid black; */
    width: 300px;
    border-radius: 10px;
    margin-left:15px ;
}

.feebar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: #D7F5FE;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
}

.feebar p
{
    font-size: 16px;
}

.doctoerBooked button
{
    border-radius: 10px;
    width: 300px;
    padding: 20px 0px;
    border: 0px;
    background-color: #0098EC;
    color: white;
    margin-top: 15px;
    font-size: 15px;
}

.doctoerBooked button:hover
{
    background-color: white;
    border: 1px solid#0098EC;
    color: #0098EC;
    cursor: pointer;
}

@media (max-width : 1000px) {
    
    .singleDoctorContainer
    {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 500px;
    }
    .DoctorDeatail
    {
        padding: 0px;
    }

}


@media (max-width : 510px) {
    
    .singleDoctorContainer
    {
        width: 300px;
    }

    .DoctorDeatail{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 10px;
    }
}