@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500&display=swap');


.med {
    height: 50vh;
    width: 100%;
    background-image: url("img.jpg");
    background-position: center;
    background-size: cover;
    color: aliceblue;
}

.med h2 {
    padding-top: 12%;
    font-size: 40px;
    text-align: center;
}

.medicine {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    padding-top: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 70%;
    margin: auto;
}

.medicine .Box {
    width: 300px;
    height: 520;
    /* border: 1px solid black; */
    text-align: center;
    margin: 30px 0px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.Box img {
    width: 250px;
    height: 320px;
}

.Box p{
    margin: 0;
    padding: 5px 0px ;
    text-transform: uppercase;
}

.Box p:nth-child(1){
    font-weight: 600;
}

.box_info{
    margin: 15px 0px ;
}
.Box span{
    width: 150px;
    display: flex;
    margin: auto;
    text-align: center;
    background-color: gainsboro;
    border-radius: 5px;

}

.Box span button{
    width: 40px;
    font-size: 22px;
    margin: auto;
    border: none;
    background-color: gainsboro;
}

.Box button{
    padding: 10px 7px;
    margin: 20px 0px;
    border: 1px solid #1da5ec;
    border-radius: 10px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.Box button:hover:nth-child(4) {
    border: none;
    background-color: black;
    color: #1da5ec;
}
@media(max-width: 700px) {
    .med h2 {
        font-size: 24px;
        margin-top: 100px;
        padding-top: 32%;
    }
}